@{
    ViewBag.Title = "Welcome to Rare, where words make a difference";
}
<h1>@ViewBag.Title.</h1>
<img class="u-sizeFull" src="https://cdn-images-1.medium.com/proxy/1*vAvULJPUoFIVXyHQZ4obxg.gif">
<h2 style="text-align: center;">Ideas and perspectives you won’t find anywhere else.</h2>
<p style="text-align: center;">Rare taps into the brains of the world’s most insightful writers, thinkers, and storytellers to bring you the smartest takes on topics that matter. So whatever your interest, you can always find fresh thinking and unique perspectives.</pstyle="text-align:>
