@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Rare Support</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nunc dui, aliquam nec nunc vitae, varius bibendum nulla. Nulla congue augue at sapien faucibus, nec molestie tortor aliquam. Nullam blandit porta leo, vel tempus tellus lobortis eget. Nullam ac sem quis risus ultricies malesuada eu a lacus. Praesent sodales mollis ligula vel euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tempor velit id arcu dignissim, id porttitor ligula fringilla.
</p>
<p>
    Vivamus semper elit at nibh sagittis aliquet. Phasellus eget faucibus orci. Praesent congue nibh et tellus pellentesque, eget pulvinar nisi fermentum. Sed rutrum venenatis nisi, sit amet auctor eros lacinia non. Donec in magna sapien. Pellentesque rutrum erat in augue blandit sagittis. Nulla tempor, purus eget lacinia consectetur, urna ipsum laoreet magna, eu egestas nisl arcu eu purus. Phasellus volutpat odio turpis, ac rutrum lacus mattis quis.
</p>
<p>
    Aliquam felis est, volutpat sed volutpat maximus, pharetra sed dui. Aenean ac ipsum sagittis, suscipit quam in, scelerisque lacus. Quisque sagittis neque eu quam interdum, vel dictum odio molestie. Sed quis est eu arcu ornare rhoncus vel id magna. Nunc ac pharetra risus, id suscipit nisi. Sed at congue sem. Nulla sit amet magna tellus. Sed scelerisque pulvinar tellus, a gravida orci.
</p>
<p>
    Donec lobortis imperdiet arcu, id pulvinar velit laoreet vel. Curabitur ut metus sapien. Nunc in erat euismod, sollicitudin nunc in, blandit risus. Donec purus quam, venenatis et tortor sed, dapibus dictum diam. Donec aliquet lacinia turpis. In maximus sem ut consectetur rhoncus. Cras fringilla sit amet justo nec tincidunt. Integer condimentum sagittis ipsum eget imperdiet. Aliquam quis nisl nunc. Sed elementum laoreet erat, et interdum ipsum egestas sed.
</p>
<p>
    Praesent justo dolor, semper nec congue eget, ornare at urna. Donec eget vestibulum felis. Quisque ut elit sit amet nisi accumsan mattis. Nunc eu sagittis ante. Donec in sem sit amet arcu auctor aliquam. Proin tempus ligula ut luctus efficitur. Phasellus at erat augue.
</p>